
            body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 50px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }

        h1 {
            color: rgb(102, 153, 180);
            font-weight: bold;
        }

        h4 {
            color: #333;
            font-weight: bold;
        }

        textarea {
            border: 2px solid #ced4da;
            border-radius: 5px;
            resize: none;
        }

        .btn-group {
            margin-top: 20px;
        }

        .btn {
            border-radius: 20px;
            font-weight: bold;
        }

        @media (max-width: 768px) {
            .col-lg-6 {
                width: 100% !important;
            }
        }
      